body{
    font-family: "Poppins",sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
    margin: 5px;
}
h2{
    font-size: 1.7rem;
    font-weight: 20%;
}
h3{
    font-size: 25px;
}
p{
    font-size: 17px;
    margin: 0;
}
.flex-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5% 0 0 7%;
}
.half-width img{
    width: 80%;
}
section{
    margin-bottom: 50px;
}
.introduction p{
    margin-bottom: 50px;
}
.btn{
    margin-top: 50px;
    padding: 15px 35px;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: normal;
    background-image: linear-gradient(45deg,rgb(248, 246, 91),rgb(223, 61, 32));
}
.about{
    padding: 0 5%;
    background-image: url(images/frame/Frame\ 58.jpg); 
    padding-bottom: 50px;  
}
.about p{
    margin-bottom: 70px;
}
.about img{
    width: 100%;
}
.recipie{
    flex-direction: column;
    align-items: center;
}
#recipie-heading{
    width: 40%;
    text-align: center;
}
#recipie-body{
    padding: 35px 0 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 85%;
}
.recipie-card{
    padding: 15px;
    box-shadow: 1px 1px 30px gray;
    width: 25%;
    border-radius: 20px;
}
.recipie-card img{
    border-radius: 20px;
    width: 100%;
}
.follower{
    padding: 4% 0;
    margin: 0 10% 5% 10%; 
    border-radius: 20px;
    box-shadow: 1px 1px 30px gray;
    justify-content: space-evenly;
}
footer{
    padding: 3% 0;
    color: white;
    text-align: center;
    background-color: rgb(0, 0, 29);
}
#menu{
    height: 100px;
    align-items: center;
    padding: 0 5%;
    justify-content: space-between;  
    margin-bottom: 0;  
}
#logo{
    display: flex;
    width: 10%;
}
#logo img{
    width: 85%;
}
#menu-item a{
    text-decoration: none;
    padding: 0 40px;
    color: black;
    font-weight: bold;
}
#menu-item a:hover{
    color: rgb(180, 118, 118);
}

